/*
* @Author: Xu Liu  email:2867557054@qq.com web:http://www.jameson512.com
* @Date:   2017-04-08 20:49:58
* @Last Modified by:   Xu Liu
* @Last Modified time: 2018-02-25 20:05:45
*/
#jameson_manhua{margin:auto;max-width: 1200px;}
.pl0{padding-left: 0 !important;}
.pl5{padding-left: 5px !important;}
.pl8{padding-left: 8px !important;}
.pr0{padding-right: 0 !important;}
.pr5{padding-right: 5px !important;}
.pr8{padding-right: 8px !important;}
.pt0{padding-top: 0 !important;}
.pt5{padding-top: 5px !important;}
.pt8{padding-top: 8px !important;}
.pt10{padding-top: 10px !important;}
.pb0{padding-bottom: 0 !important;}
.pb5{padding-bottom: 5px !important;}
.pb8{padding-bottom: 8px !important;}
.pb10{padding-bottom: 10px !important;}
.mt-6{margin-top: -5px !important;}
.mt-6 svg{margin-top: -5px !important;}
.mt0{margin-top: 0 !important;}
.mt3{margin-top: 3px !important;}
.mt5{margin-top: 5px !important;}
.mt8{margin-top: 8px !important;}
.mb0{margin-bottom: 0 !important;}
.mb5{margin-bottom: 5px !important;}
.mb8{margin-bottom: 8px !important;}
.ml0{margin-left: 0 !important;}
.ml5{margin-left: 5px !important;}
.ml8{margin-left: 8px !important;}
.mr0{margin-right: 0 !important;}
.mr5{margin-right: 5px !important;}
.mr8{margin-right: 8px !important;}
.back-f9{background: #f9f9f9;}
.text-middle{vertical-align: middle;}
.uk-label.uk-label-grap{background: #aaa;}
.uk-border-dedeef{border:1px solid #dadada;}
.uk-border-f9f9f9{border:1px solid #f9f9f9 !important;}
.uk-border-0{border:0 !important;}
.uk-button.uk-button-primary:hover{color: #fff;}
.uk-zjimg .unslider-arrow{display: none;}
.uk-width-75{max-width: 75%;}
.uk-cursor{cursor: pointer;}
.uk-width-75 + .xg1{max-width: 23%;white-space: nowrap;display: inline-block;overflow: hidden;text-overflow: ellipsis;margin-top: 3px}
.video-title{font-size: 20px;text-align: right;padding-right: 10px;padding-top: 10px;color: #fff;box-shadow: 0 0 10px rgba(0,0,0,.5)}
#bofangqi .uk-section{max-width: 100%;max-height: 100%;overflow: hidden;padding-top: 50px;padding-bottom: 50px;}
#bofangqi .uk-section img{max-width: 100%;max-height: 100%;}
#bofangqi .uk-section a{position: relative;z-index: 999;}

a.uk-button-danger:hover{color: #fff;}
.maxheight500{max-height: 500px;overflow-y: auto;}
.relateive{position: relative;}
#myprompt_menu{z-index: 298 !important;}
#bofangqi{z-index: 999;position: relative;height: auto !important;}
#bofangqi > div{width: 100% !important;}
.iframe-video iframe{width: 100%;}
.none, .tie-empty-tip{display: none !important;}
/*幻灯*/
.huandeng{height: 245px;overflow: hidden;position: relative;}
.huandeng .unslider a img {height: 100%;min-width: 100%;}
.huandeng .unslider .unslider-nav{position: absolute;bottom: 10px;right: 10px;}
/*顶部分类和搜索*/
nav.sp-nav{border-bottom: 1px solid #e5e9ef;background: #f9f9f9;}
.jameson_manhua .uk-navbar-nav > li > a, .jameson_manhua .uk-navbar-toggle{height: 35px;padding: 0 10px;}
.jameson_manhua .uk-navbar-nav{padding-left: 0;margin-bottom: 0;}
.uk-dropdown{min-width: 80px;width: auto;}
.sp-nav .uk-navbar-right {align-items: flex-start;}
.sp-nav .uk-navbar-nav > li.uk-active .uk-navbar-dropdown{opacity: 0;position: absolute;z-index: -1;}
.sp-nav .uk-navbar-dropdown.submenu{padding: 0;width: 120px;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);}
.sp-nav .uk-navbar-dropdown-nav{padding-left: 0;margin-bottom: 8px;}
.sp-nav .uk-navbar-dropdown-nav li {padding-left: 10px;margin-bottom: 8px;}
.sp-nav .uk-navbar-dropdown-nav li:hover {background: #f7f7f7}
.sp-nav .uk-navbar-nav a{color: #222;}
.uk-navbar-nav a:hover, .uk-navbar-nav li.uk-active > a{color: #00a1d6;}
.sp-nav .uk-navbar-nav > li.uk-active {border-bottom: 2px solid #00a1d6;margin-bottom: -2px;}


/*首页一级分类推荐*/
.rootcate .uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before{content:'';margin:0 5px;padding:0;width:1px;height: 1px;}
.rootcate .uk-breadcrumb svg{width: 16px !important;height: 16px !important;}

.rootcate .rootcate-nav{border-bottom: 1px solid  #dadada;height: 48px;line-height: 48px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: flex;}
.rootcate .rootcate-nav .rootcate-title{margin:0;padding:0;font-size: 18px;color: #393939;display: inline-block;width: 15%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.rootcate .rootcate-nav > ul {display: inline-block;width: 85%;margin:0;padding:0;text-align: right;}
.rootcate .rootcate-nav  li {display: inline-block;width:80px;padding:0 5px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.rootcate .rootcate-nav li a {font-size: 12px;color: #a6a6a6}

.rootcate .uk-card-media-top {height: 180px;overflow: hidden;text-align: center;}
.rootcate .uk-card-media-top .uk-overlay.uk-overlay-primary {padding:5px;}
.rootcate .uk-card-media-top img{height: 100%;1max-width:100%;display: block;margin:auto;}

/*大分类页侧边*/
.slidertab .uk-tab::before{left: 0;}

.alert-desco{max-height: 55px;overflow: hidden;text-overflow: ellipsis;}
#function-demo{width: 120px !important;}

.uk-zjimg{overflow: hidden;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);position: relative;display: block !important;}
.uk-zjimg img {max-width: 100%;display: block;margin:auto;outline: 0;}
.uk-zjimg .slick-slide img {cursor: pointer;}

#jamesonmanhua_zhezhao{position: fixed;top:0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;overflow: hidden;z-index: 99990;background: rgba(0,0,0,.95);}
.uk-modal{z-index: 99995;}
#jameson_manhua.uk-light{position: relative;z-index: 99992;background: #333}
#jameson_manhua.uk-light #selectimg option{background: #333;color: #fff;}
body .uk-notification{z-index: 99999;text-align: center;}
#jameson_manhua.uk-light .uk-breadcrumb{padding-top: 10px;}
#jameson_manhua.uk-light .uk-heading-line{padding-top: 10px;}
#jameson_manhua.uk-light > .uk-navbar-container{display: none;}
.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before{margin:0 8px;}

.uk-card-wrap:hover{background: #f5f5f5;}

.test-upload.uk-placeholder{border:0;}
.zuozhezhongxin .uk-accordion textarea.uk-textarea[data-role='upload-wailian']{border-width:0 0 1px;}
.zuozhezhongxin .uk-accordion-content .uk-tab::before{left: 0;}

.uk-zjimg .uk-position-center-left, .uk-zjimg .uk-position-center-right{position: relative;width: 150px;height: 100%;}
.uk-zjimg .uk-position-center-left svg, .uk-zjimg .uk-position-center-right svg{position: absolute;top: 45%;}
#jamesonmanhua_flash, .slickflash, .slick-list, .slickflash .slick-track{height: 100%;}
.slickflash .slick-dots {position: absolute;top: 0;right: 0; margin-top: 8px;}
.slickflash .slick-dots li {display: inline-block; }
.slickflash .slick-dots button {border:0;background: rgba(255,255,255,.6);color: 666; box-shadow: 0 0 2px rgba(0,0,0,.2);border-radius: 50%; display: inline-block;width: 10px;text-align: center;height: 12px;margin-right: 8px;text-indent: 9999px;outline: 0;}
.slickflash .slick-dots .slick-active button {background: rgba(180,180,180,.5);}
.slickflash img{width: 100%;}
.slick-slide{outline: 0;}
#progressbar{position: fixed;top: 0;width: 60%;left: 50%;margin-left: -30%;z-index: 99999;margin-top: 0;}
#searchbarnav{left: 750px !important;width: 350px;}
.largewidth #searchbarnav{left: 900px !important;width: 350px;}